In [1]:
import numpy as np

In [148]:
a1=np.arange(2*3*1).reshape(2,3)
b1=np.ones((3,4))
print(a1)
print(b1)
print('a1 shape:',a1.shape)
print('b1 shape:',b1.shape)

[[0 1 2]
 [3 4 5]]
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
a1 shape: (2, 3)
b1 shape: (3, 4)

In [162]:
aa1=np.einsum('ij,jl->ijl',a1,b1)
print(aa1)
aa1.shape

[[[0. 0. 0. 0.]
  [1. 1. 1. 1.]
  [2. 2. 2. 2.]]

 [[3. 3. 3. 3.]
  [4. 4. 4. 4.]
  [5. 5. 5. 5.]]]

(2, 3, 4)

In [163]:
aa3=np.einsum('ij,jl->jl',a1,b1)
print(aa3)
aa3.shape

[[3. 3. 3. 3.]
 [5. 5. 5. 5.]
 [7. 7. 7. 7.]]

(3, 4)

In [158]:
aa2=np.einsum('ij,kl->il',a1,b1)
print(aa2)
aa2.shape

[[ 9.  9.  9.  9.]
 [36. 36. 36. 36.]]

(2, 4)

In [140]:
c1=np.einsum('ij,kl->ijkl',a1,b1)
print(c1)
c1.shape

[[[[0. 0. 0. 0.]
   [0. 0. 0. 0.]
   [0. 0. 0. 0.]
   [0. 0. 0. 0.]
   [0. 0. 0. 0.]]

  [[1. 1. 1. 1.]
   [1. 1. 1. 1.]
   [1. 1. 1. 1.]
   [1. 1. 1. 1.]
   [1. 1. 1. 1.]]

  [[2. 2. 2. 2.]
   [2. 2. 2. 2.]
   [2. 2. 2. 2.]
   [2. 2. 2. 2.]
   [2. 2. 2. 2.]]]


 [[[3. 3. 3. 3.]
   [3. 3. 3. 3.]
   [3. 3. 3. 3.]
   [3. 3. 3. 3.]
   [3. 3. 3. 3.]]

  [[4. 4. 4. 4.]
   [4. 4. 4. 4.]
   [4. 4. 4. 4.]
   [4. 4. 4. 4.]
   [4. 4. 4. 4.]]

  [[5. 5. 5. 5.]
   [5. 5. 5. 5.]
   [5. 5. 5. 5.]
   [5. 5. 5. 5.]
   [5. 5. 5. 5.]]]]

(2, 3, 5, 4)

In [141]:
d1=np.einsum('ij,kl->ijkl',b1,a1)
print(d1)
d1.shape

[[[[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]]


 [[[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]]


 [[[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]]


 [[[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]]


 [[[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]

  [[0. 1. 2.]
   [3. 4. 5.]]]]

(5, 4, 2, 3)

In [136]:
e1=np.einsum('ij,kl->jkl',b1,a1)
print(e1)
e1.shape

[[[ 0.  3.  6.]
  [ 9. 12. 15.]]

 [[ 0.  3.  6.]
  [ 9. 12. 15.]]

 [[ 0.  3.  6.]
  [ 9. 12. 15.]]

 [[ 0.  3.  6.]
  [ 9. 12. 15.]]

 [[ 0.  3.  6.]
  [ 9. 12. 15.]]]

(5, 2, 3)